# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# git credential
credentials.csv

# Editor settings
## Webstorm
/.idea
## VSCode
*.code-workspace
/.vscode

# environment files
.env

# firebase caches
.firebase

# graphql
.graphqlconfig
schema.graphql

# yarn
.yarn/*
.yarnrc.yml

# lock
*.lock